.App {
  display: flex;
  flex-direction: row;
  width: 933px;
  padding: 10px;
  text-align: center;
  border: solid #b5b5aaaf 1px;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-logo-medium {
  height: 20vmin;
  pointer-events: none;
  border: white solid 7px;
}
.draggable-element-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grab;
}
.draggable-element-container:active{
  cursor: grabbing;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
